html,
body {
  padding: 0;
  margin: 0;
  background-color: #b7b9fc;
  color: #fafafa;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  font-family: "Fuzzy Bubbles";
}

h1 {
  letter-spacing: 4px;
  text-shadow: 2px -1px 0px #6970fa;
  font-size: 50px;
  text-align: center;
}

h2 {
  letter-spacing: 3px;
  text-shadow: 2px -1px 0px #6970fa;
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  letter-spacing: 2px;
}

.purpleButton {
  box-shadow: inset 0px 1px 3px 0px #6970fa;
  background: linear-gradient(to bottom, #6970fa 5%, #6970fa 100%);
  background-color: #6970fa;
  border-radius: 19px;
  border: 1px solid #6970fa;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Fuzzy Bubbles";
  font-size: 17px;
  font-weight: bold;
  padding: 8px 14px;
  text-decoration: none;
  text-shadow: 1px -1px 0px #6970fa;
}
.purpleButton:hover {
  background: linear-gradient(to bottom, #6970fa 5%, #6970fa 100%);
  background-color: #6970fa;
}
.purpleButton:active {
  position: relative;
  top: 1px;
}

.orangeButton {
  box-shadow: inset 0px 1px 3px 0px #de7f2c;
  background: linear-gradient(to bottom, #de7f2c 5%, #de7f2c 100%);
  background-color: #de7f2c;
  border-radius: 19px;
  border: 1px solid #de7f2c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Fuzzy Bubbles";
  font-size: 17px;
  font-weight: bold;
  padding: 8px 14px;
  text-decoration: none;
  text-shadow: 1px -1px 0px #6970fa;
  margin-left: 10px;
}
.orangeButton:hover {
  background: linear-gradient(to bottom, #de7f2c 5%, #de7f2c 100%);
  background-color: #de7f2c;
}
.orangeButton:active {
  position: relative;
  top: 1px;
}

.toDoSection {
  background-color: #6970fa;
  border-radius: 50px;
  box-shadow: 0px 0px 5px 1px #464baa;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-right: 125px;
  padding-left: 125px;
}

.footer {
  text-align: center;
  top: 80%;
}
